@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Marcellus&family=Monsieur+La+Doulaise&display=swap');

h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.fancy {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 180px;
}

/* body {
    background-color: black;
} */

.banner {
    /* aspect-ratio: 16 / 9; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}

.content-container {
    display: flex;
    align-items: center;
    /* optional: vertically center */
    justify-content: space-between;
    /* optional: space between text and photo */
    padding: 30px;
}

.about-me {
    flex: 1;
    /* Takes up available space */
    padding-right: 20px;
    /* space between text and image */
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.photo {
    width: 35vw;
    height: 35vw;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crop top/bottom if needed to cover area */
    display: block;
    border-radius: 50%;
    /* border: 10px solid gold; */
}